#head{
    margin: 0;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 5px gray;
    position: sticky;
    top: 0px;
    background-color: rgb(254,82,0);
}
.fa-cookie-bite{
    font-size: 55px;
    color: white;
    position: relative;
    top: 25px;
    left: 20px;
    margin-bottom: 0px;
}
.fa-cookie-bite:hover{
    transform: scale(1.2);
}
#title{
    font-size: 50px;
    color: white;
    margin-left: 12px;
    position: relative;
    top: 25px;
    left: 5px;
    margin-bottom: 0px;
}
h1{
    text-align: center;
}
button{
    width: 150px;
    height: 50px;
    background-color: rgb(254,82,0);
    border: 2px solid rgb(254,82,0);
    border-radius: 30px;
    color: white;
    font-size: 18px;
}
button:hover{
    background-color: white;
    color: rgb(254,82,0);
    box-shadow: 0 0 5px rgb(254,82,0);
}
span{
    font-size: 25px;
    padding: 10px 20px;
}
#total-price{
    color: rgb(254,82,0);
    font-size: 40px;
    position: sticky;
    top: 100px;
}
