body{
    background-image: url(https://i2.wp.com/shop.ioprc.ru/image/catalog/Handshake-lower-res.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}
.main{
    margin-top: 0px;
    background-color: rgba(0,0,0,0.5);
    width:1500px;
    height: 800px;
}
.info{
    color: whitesmoke;
    font-size: 25px;
    margin-top: 20px;
    margin: 25px;
    display: inline-block;

}
.form{
    width: 550px;
    height: 600px;
    border-radius: 25% 0 0 25%;
    border-left: 2px solid whitesmoke;
    position: relative;
    top: -30px;
    left: 50px;
    display: inline-block;
    color: whitesmoke;
    padding: 20px 55px;
}
.form h2{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 80px;

}
.input{
    display: block;
    width: 350px;
    height: 40px;
    border-radius: 50px;
    margin: 30px;
    padding-left: 15px;
}
.input::placeholder{
    font-size: 18px;
}
.form button{
    background-color: rgb(254,82,0);
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: 40px;
}
.form h5{
    margin-left: 35px;
    margin-top: -10px;
}
.fa-cookie-bite{
    font-size: 55px;
    color: white;
    position: relative;
    top: 25px;
    left: 20px;
    margin-bottom: 0px;
}
.fa-cookie-bite:hover{
    transform: scale(1.2);
}
#title{
    font-size: 50px;
    color: white;
    margin-left: 12px;
    position: relative;
    top: 25px;
    left: 20px;
    margin-bottom: 0px;
}