div{
    width: 100%;
    height: 150px;
    box-shadow: 0 0 5px gray;
    background-color: rgb(255, 86, 25);
    color: white;
    position: sticky;
    top: 0px;

}
#heading{
    margin-left: 20px;
    margin: 20px;
}
.fa-cookie-bite{
    color: white;
    font-size: 50px;
    margin-left: 25px;
    margin-top: 15px;
}
.fa-cookie-bite:hover{
    transform: scaleX(1.2,1.2);
}
span{
    font-size: 35px;
    padding-left: 15px;
}
h2{
    color: white;
    font-size: 30px;
    margin-left: 35px;
}