{% load static %}
<head>
    <title>grocery page</title>
    <link rel="stylesheet" href="{% static 'css/grocery.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="head">
        <a href="/home/"><i class="fa-sharp fa-solid fa-cookie-bite"></i></a>
        <span>Have iT</span>
        <a href="/cart/"><button id="cart-btn">Cart</button></a>
    </header>
    <section>
        <h1>Order Fresh Groceries Every Day</h1>
        <article>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/d77abbcb56c4e631a90aca5b06734a67" alt="vegas">
                <figcaption>Vegatables</figcaption>
                <h2>Items at 25</h2>
                <span><i class="fa-solid fa-star">4.6</i> Rating</span><span class="price">Rs.79/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/f456bb3117b39b7f1f10689cdb6cb471" alt="Fruits">
                <figcaption>Fruits</figcaption>
                <h2>Items at 45</h2>
                <span><i class="fa-solid fa-star">4.4</i> Rating</span><span class="price">Rs.89/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/55832205672c90f343587b3675b64dfa" alt="food" >
                <figcaption>Milk</figcaption>
                <h2>Item at 31</h2>
                <span><i class="fa-solid fa-star">4.4</i> Rating</span><span class="price">Rs.59/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/cfa0c7b954979cea8bfae7e6e9c86763" alt="food" >
                <figcaption>Rice</figcaption>
                <h2>15%OFF Above 2200</h2>
                <span><i class="fa-solid fa-star">4.3</i> Rating</span><span class="price">Rs.99/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/kpag3dop5kdhg1zxlpjg" alt="food" >
                <figcaption>Breakfast</figcaption>
                <h2>15%OFF Above 600</h2>
                <span><i class="fa-solid fa-star">4.3</i> Rating</span><span class="price">Rs.149/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/NI_CATALOG/IMAGES/CIW/2024/3/13/1f55f69b-4db9-47dc-b9cc-ef17870ee7f7_cookingandedibleoils_3G5U92YFAK_MN.png" alt="food">
                <figcaption>Oil</figcaption>
                <h2>20%OFF Above 1100</h2>
                <span><i class="fa-solid fa-star">4.2</i> Rating</span><span class="price">Rs.199/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/NI_CATALOG/IMAGES/CIW/2024/5/6/090f7eff-e368-4707-929d-d0deddaeb121_readytocook_NAVIVX5TW8_MN.png" alt="food" >
                <figcaption>Frozen Food</figcaption>
                <h2>30%OFF Above 700</h2>
                <span><i class="fa-solid fa-star">4.2</i> Rating</span><span class="price">Rs.189/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/8076bab220650ae31a54a52510703c41" alt="food">
                <figcaption>Chicken</figcaption>
                <h2>25%OFF Above 1800</h2>
                <span><i class="fa-solid fa-star">4.4</i> Rating</span><span class="price">Rs.299/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/7ee7b9b715b098f74dbf72852a09c7de" alt="food" >
                <figcaption>Cool Drinks</figcaption>
                <h2>10%OFF Above 400</h2>
                <span><i class="fa-solid fa-star">4.5</i> Rating</span><span class="price">Rs.239/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/NI_CATALOG/IMAGES/CIW/2025/1/25/e8d8225b-2816-48f2-b851-8e13c3c55efd_5416_1.png" alt="food">
                <figcaption>Tea & coffee</figcaption>
                <h2>12%OFF Above 800</h2>
                <span><i class="fa-solid fa-star">4.7</i> Rating</span><span class="price">Rs.249/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/NI_CATALOG/IMAGES/CIW/2024/11/13/81a78def-59eb-437e-b2a5-effd759d068a_6676_1.png" alt="food">
                <figcaption>Biscuits</figcaption>
                <h2>8%OFF Above 300</h2>
                <span><i class="fa-solid fa-star">4.7</i> Rating</span><span class="price">Rs.119/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>
            <figure>
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_252,h_272/7d8e2dff6892122756c45edd8eed9153" alt="food" >
                <figcaption>Cleaning</figcaption>
                <h2>20%OFF Above 800</h2>
                <span><i class="fa-solid fa-star">4.5</i> Rating</span><span class="price">Rs.179/-</span><br>
                <button class="add-cart">Add to Cart</button>
            </figure>       
        </article>
    </section>
    <script src="{% static 'javascript/grocery.js' %}"></script>
</body>
</html>